nav#horz1 ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

nav#horz1 ul li{
	float: left;
	margin: 0 10px;
}
nav#horz1 ul li a{
	display: block;
	background-color: rgb(160, 20, 79);
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	font-family: ;
	width: 130px;
	padding: 10px 0px 5px 0px;
	border-radius: 5px;
}
nav#horz1 ul li a:hover{
	background-color: ;
	color: yellow;
	border-radius: 20px;
	text-transform: uppercase;
}
body{
	background-color: #e1c3cf;
}
#header{
	background-color: #017b66;
	padding: 5px;
	margin: 10px 0 0 0 ;
	text-align: center;
	border-radius: 20px;
	color: #f1ede1;
	font-family: 'Comfortaa', cursive,sans-serif;
	font-weight: bold;
	font-size: 1.4em;
}
h2{
	font-family: 'Hubballi', cursive,sans-serif;
	margin: 5px 5px 0 5px;
	background-color: #3ca98c;
	font-size: 1.6em;
	padding: 3px 5px ;
	border-radius: 5px;
}

#target{
	float: left;
	width: 22.5%;
	margin: 10px 0 0 2%;
	outline: 4px solid #025647;
}
.ul1 ul{
	list-style-type: circle;
	font-family: 'Fredoka', sans-serif;
	color: #272935;

}
.ul1 ul li{
	border: 1px dotted #3ca98c;
	margin: 5px 5px 5px 0;
	padding: 3px 0 3px 3px;
	background-color: #5e9da4;
	border-radius: 10px;
}
.ul2 ul{
	list-style-type: none;
	font-family: 'Fredoka', sans-serif;
	color: #272935;
	font-size: 1em;
}
.ul2 ul li{
	float: left;
	display: block;
}
#target img{
	width: 100%;

}
#main{
	float: left;
	width: 47%;
	margin: 10px 2%;
	outline: 3px solid #ff8c00;
}
section{
	margin: 2px 5px;
	background-color: #83c4b1;

}
h3{
	font-family: 'Hubballi', cursive,sans-serif;
	font-weight: bold;
	color: yellow;
	font-size: 1.3em;
}
p{
	font-family: 'Hubballi', cursive,sans-serif;
	text-align: justify;
}
#news{
	float: left;
	width: 22.5%;
	margin: 10px 2% 0 0;
	outline: 2px solid #dc143c;
}
#news img{
	width: 100%;
}
#news iframe{
	width: 100%;

}
#footer{
	clear: left;
	color: white;
	padding: 5px;
	background-color: #4c718b;
	height: 30px;
	
}