nav#horz1 ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

nav#horz1 ul li{
	float: left;
	margin: 0 10px;
}
nav#horz1 ul li a{
	display: block;
	background-color: rgb(160, 20, 79);
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	font-family: ;
	width: 110px;
	padding: 10px 0px 5px 0px;
	border-radius: 5px;
}
nav#horz1 ul li a:hover{
	background-color: ;
	color: yellow;
	border-radius: 20px;
	text-transform: uppercase;
}
#header{
	background-color: #ccc;
	padding: 5px;
	text-align: center;
	color: brown;
	font-family: ;
	font-weight: ;
	font-size: ;
}
#target{
	float: left;
	width: 22.5%;
	margin: 0 0 0 2.5%;
	outline: 2px dashed #dd0009;
}
#main{
	float: left;
	width: 45%;
	margin: 0 2.5%;
	outline: 2px dashed #0053ae;
}
#news{
	float: left;
	width: 22.5%;
	margin: 0 2.5% 0 0;
	outline: 2px dashed #009554;
}
#footer{
	clear: left;
	padding: 15px;
	background-color: #ccc;
	
}