nav#horz1{
  background-color: rgb(160, 20, 79);
}
nav#horz1 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav#horz1 ul li {
  float: left;
}
nav#horz1 ul li a {
  display: block;
  padding: 10px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: 'mooch Sans', sans-serif;
  
}
nav#horz1 ul li a:hover {
  background-color: #cb276c;
  color: yellow;
  text-transform: uppercase;
}
#header {
	background-color: rgba(77, 133, 137, 0.5);
	padding: 5px;
	margin: 5px 0px;
	color: yellow;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	font-family: 'Dancing Script', cursive,sans-serif;
}
body{
	background-image: url(../images/rbk1.png);
	margin: 0;
	padding: 0;
}
h2{
	padding: 0 5px;
	font-family: 'Hubballi', cursive,sans-serif;
	color:#272935 ;
	font-size: 2em;
}
h3{
	padding: 0 5px;
	color: #DC143C;
	font-family: 'Hubballi', cursive,sans-serif;
	font-size: 1.6em;
}

#wrapper{
	width: 960px;
	margin: 5px auto;
	outline: #ff7900 2px dashed;
	background-color: #f1ede1;

}
#main{
	float: left;
	width: 350px;
	margin: 10px 20px;
	outline: 2px dashed #dd0009;
	background-color: #ff8c00;
}
.tb1 table{
	width: 340px;
	margin: 0 5px;
	text-align: center;
	border: 1.5px dashed white;
	background-color: #ffa500;
	border-collapse: collapse;
	font-size: 1em;
	font-family: 'Comfortaa', cursive, sans-serif;
}
.tb1 table tr{
	border: 1px dotted white;
}
.tb1 table td{
	border: 1px dotted white;
}
.wd1{
	color: #DC143C;
	font-family: ;
	font-size: 1.1em;
	font-weight: bold;
}
#ul1 ul{
	list-style-type: square;
	background-color: #ffa500;
	width: 300px;
	margin: 0 0 5px 5px;

}
#ul1 ul li {
	color: #272935;
	font-family: 'Comfortaa', cursive, sans-serif;
	font-size: 1em;
	font-weight: bold;

}
.ul2 ul{
	list-style-type: none;
	background-color: #ffa500;
	width: 450px;
	margin: 0 0 5px 0;
}
.ul2 ul li{
	text-align: left;
	color: #272935;
	font-family: 'Comfortaa', cursive, sans-serif;
	font-size: 1em;
	font-weight: bold;
}
#extras{
	float: left;
	width: 550px;
	margin: 10px 20px 0 0;
	outline: 2px dashed #dd0009;
	background-color: #ffd700;
}
.sc1{
	border: 1.5px dotted #272935;
	margin: 5px;
	background-color: #ffff00;
}
p{
	color: #272935;
	text-align: justify;
	text-indent: 2em;
	margin: 0 5px;
	font-size: 15px;
	font-family: 'Comfortaa', cursive, sans-serif;
}
#play{
	clear: both;

	width: 920px;
	margin: 5px 20px;
	outline: 2px dashed #dd0009;
	background-color: yellow;
}
#box1{
	clear: both;
	box-sizing: content-box;
	float: left;
	width: 450px;
	height: 300px;
	margin: 5px;
	border: 1px;
	overflow: hidden;
}
#box1 img{
	width: 100%;
}
#box2{
	box-sizing: content-box;
	float: left;
	width: 450px;
	height: 300px;
	margin: 5px;
	border: 1px;
	overflow: hidden;
}
#box2 img{
	width: 100%;
}


#footer{
	clear: both;
	background-color: #b3b8bc;
	padding: 15px;
}
