#header{
	background-color: #ccc;
	padding: 10PX;
	text-align: center;
	font-family: ;
	color: yellow;

}
nav#horz1 ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
nav#horz1 ul li{
	float: left;
	margin: 0 10px;
}
nav#horz1 ul li a{
	display: block;
	color: black;
	font-family: ;
	text-decoration: none;
	text-align: center;
	width: 140px;
	padding: 2px 0px 2px 0px;
	margin: 0px;
}
nav#horz1 ul li a:hover{
	background-color: red;
	color: yellow;
	border-radius: 30px;
	text-transform: uppercase;
}
#main{
	float: left;
	width: 50%;
	margin: 0 5%;
	outline: 2px dashed #0053ae;

}
#extras{
	float: left;
	width: 35%;
	margin: 0 5% 0 0;
	outline: 2px dashed #dd0009;
}
#footer{
	clear: both;
	padding: 10px;
	background: #ccc;

}
body{
	background-color: burlywood;
}